@import '../../../sass/settings/_variables.scss';
// Cart Cards
.cardCartShop {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 0.1rem solid $border;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 0.5rem 0 0.9rem 0;
    h3 {
        font-size: 1.2rem;
    }
    &__img {
        width: 50%;
        height: 10rem;
        border-radius: 0.8rem;
    }
    &__title {
        font-size: 1.3rem;
        color: $secondary-color;
    }
    &__price {
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.12rem;
        color: $secondary-color;
    }
    &__description {
        font-size: 1.2rem;
        color: $secondary-color;
    }
    &__group-content {
        padding: 1rem 0 0.6rem 0;
    }
    &__color {
        font-size: 1.6rem;
    }
    &__button {
        position: relative;
        width: 100%;
        color: #212427;
        letter-spacing: 0.12rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #ccc;
            box-shadow: -0.2rem 0.6rem 0.8rem -0.3rem rgba(0, 0, 0, 0.2);
        }
        p {
            font-weight: bold;
            color: $secondary-color;
            padding-right: 0.5rem;
        }
    }
    &__group {
        padding: 0.5rem 0 0.5rem 0;
    }
    &__btnDelete {
        width: 100%;
        font-size: 1.4rem;
        padding: 0.5rem;
        color: #f1f1f1;
        background-color: rgb(245, 69, 69);
        border-radius: 0.8rem;
        cursor: pointer;
        &:hover {
            background-color: rgb(172, 40, 40);
        }
    }
}