@import '../../../../sass/settings/_variables.scss';
.header {
    border-bottom: 0.1rem solid #f2f2f2;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading-title {
        font-size: 2.8rem;
        color: $secondary-color;
    }
    &__heading-title-icon {
        margin-right: 0.8rem;
    }
    /* Search */
    &__search {
        position: relative;
        width: 40%;
        outline: 1px solid #f2f2f2;
        border: none;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
    }
    &__search-icon {
        font-size: 1.5rem;
        position: absolute;
        margin-left: 0.5rem;
        font-size: 1.8rem;
        color: $primary-color;
    }
    &__search-input {
        width: 100%;
        font-size: 1.5rem;
        padding: 1rem 1rem 1rem 2.8rem;
        border: none;
        outline: none;
        color: $secondary-color;
        letter-spacing: 1.2px;
    }
    /* User */
    &__user {
        font-size: 2.3rem;
        i {
            cursor: pointer;
        }
    }
    &__user-shop,
    &__user-user {
        color: $secondary-color;
        cursor: pointer;
    }
    &__user-shop {
        margin-right: 1rem;
    }
    // Cart Shop
    &__shopProductCart {
        position: absolute;
        width: 370px;
        transition: 300ms ease-in-out;
        overflow: hidden;
        height: 0;
        padding: 0;
        top: 7rem;
        right: 25.5rem;
        opacity: 0;
        &.hiddenShopCart {
            border-radius: 0.8rem;
            overflow: visible;
            opacity: 1;
            transition: 300ms ease-in-out;
            z-index: 5;
        }
    }
    &__shopProductCartView {
        position: relative;
        padding: 2rem;
        background-color: #fafafa;
        border-radius: 0.8rem;
        box-shadow: -0.2rem 0.6rem 1.4rem -0.5rem rgba(0, 0, 0, 0.2);
        z-index: -1;
        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent #fafafa transparent;
            border-style: solid;
            top: 0;
            transform: translateY(-1.5rem);
            right: 8.5rem;
        }
    }
    &__shopProductCart-overlay {
        opacity: 0;
        transition: 300ms ease-in-out;
        &.activeOverlay {
            position: fixed;
            opacity: 1;
            width: 100%;
            height: 100vh;
            background-color: none;
            transition: 300ms ease-in-out;
            left: 0;
            top: 0;
            z-index: 3;
        }
    }
    ///OVERLAY
    &__shopProductCart {
        position: absolute;
        width: 370px;
        transition: 300ms ease-in-out;
        overflow: hidden;
        height: 0;
        padding: 0;
        top: 7rem;
        right: 25.5rem;
        opacity: 0;
        &.hiddenShopCart {
            border-radius: 0.8rem;
            overflow: visible;
            opacity: 1;
            transition: 300ms ease-in-out;
            z-index: 5;
        }
    }
    &__shopProductCartView {
        position: relative;
        padding: 2rem;
        background-color: #fafafa;
        border-radius: 0.8rem;
        box-shadow: -0.2rem 0.6rem 1.4rem -0.5rem rgba(0, 0, 0, 0.2);
        z-index: -1;
        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent #fafafa transparent;
            border-style: solid;
            top: 0;
            transform: translateY(-1.5rem);
            right: 8.5rem;
        }
    }
    &__shopProductCart-overlay {
        opacity: 0;
        transition: 300ms ease-in-out;
        &.activeOverlay {
            position: fixed;
            opacity: 1;
            width: 100%;
            height: 100vh;
            background-color: none;
            transition: 300ms ease-in-out;
            left: 0;
            top: 0;
            z-index: 3;
        }
    }
}