$primary-color: #919191;
$secondary-color: #212427;
$border: #f2f2f2;
$breakpoints: ( "phone": 576px, "tablet": 768px, "desktop": 992px, "lgdesktop": 1100px, ) !default;
$font-family-global: "Poppins",
sans-serif;
$font-size-base: 62.5%;
$border-radius: 0.6rem;